USE [master]
GO
/****** Object:  Database [TODOAppDB]    Script Date: 19-08-2021 08:38:03 AM ******/
CREATE DATABASE [TODOAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TODOAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TODOAppDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TODOAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TODOAppDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TODOAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TODOAppDB]
GO
USE [TODOAppDB]
GO
/****** Object:  Table [dbo].[tbl_tasks]    Script Date: 19-08-2021 08:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tasks](
	[TaskId] [bigint] IDENTITY(2000,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[TaskStatus] [tinyint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastUpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_tasks] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_tasks] ON 

INSERT [dbo].[tbl_tasks] ([TaskId], [Title], [TaskStatus], [CreatedAt], [LastUpdatedAt]) VALUES (2011, N'DO Groceries', 0, CAST(N'2021-08-19T08:28:23.460' AS DateTime), CAST(N'2021-08-19T12:28:23.457' AS DateTime))
INSERT [dbo].[tbl_tasks] ([TaskId], [Title], [TaskStatus], [CreatedAt], [LastUpdatedAt]) VALUES (2012, N'Go to Gym', 0, CAST(N'2021-08-19T08:28:34.493' AS DateTime), CAST(N'2021-08-19T12:28:34.493' AS DateTime))
INSERT [dbo].[tbl_tasks] ([TaskId], [Title], [TaskStatus], [CreatedAt], [LastUpdatedAt]) VALUES (2013, N'Read an Article', 0, CAST(N'2021-08-19T08:28:51.020' AS DateTime), CAST(N'2021-08-19T12:28:51.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_tasks] OFF
GO
ALTER TABLE [dbo].[tbl_tasks] ADD  CONSTRAINT [DF_tbl_tasks_TaskStatus]  DEFAULT ((0)) FOR [TaskStatus]
GO
ALTER TABLE [dbo].[tbl_tasks] ADD  CONSTRAINT [DF_tbl_tasks_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
